# Jupyter Notebook Basics - The CoLab Version

- add a row for code
- add a row for markdown
- delete a row
- move up/down

# Attach Your Google Drive

You will have to do this everytime you open a notebook.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Upload outbreaks to your google drive
- From within the notebook on CoLab:
    - Drive > MyDrive > Press the three dots and select 'New Folder'
    - Name the folder NLP_data
    - Go to the NLP_data folder and upload outbreaks2.csv

# Read from your Google Drive

In [2]:
import pandas as pd
import seaborn as sns

In the files directory: 
- go to the file you want to load
- click on the three dots and select 'Copy path'
- paste the path into the read statement

In [6]:
outbreaks = pd.read_csv('/content/drive/MyDrive/NLP_data/outbreaks2.csv')
outbreaks.head()

   1998  January  California              Restaurant  ... Unnamed: 8   20    0  0.1
0  1998  January  California                     NaN  ...        NaN  112  0.0  0.0
1  1998  January  California              Restaurant  ...        NaN   35  0.0  0.0
2  1998  January  California              Restaurant  ...  Confirmed    4  0.0  0.0
3  1998  January  California  Private Home/Residence  ...  Confirmed   26  3.0  0.0
4  1998  January  California              Restaurant  ...  Confirmed   25  3.0  0.0

[5 rows x 12 columns]

# Read from Github

In [ ]:
latuda = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/nlp_cdc/main/data/latuda.csv')
latuda.head()

# Use your Kaggle API Token to get data from Kaggle

In [ ]:
from google.colab import files

## Upload your kaggle json file (API Token)
files.upload()

!mkdir ~/.kaggle            # The exclamation point means run this command line code

!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

### Get the Kaggle data

In [ ]:
!kaggle datasets download -d nicapotato/womens-ecommerce-clothing-reviews

In [ ]:
!ls

### Unzip the Kaggle data

This will unzip the file into a new folder called data.

In [ ]:
!mkdir data

!unzip womens-ecommerce-clothing-reviews -d data

In [ ]:
!ls -l data/

### Use the Kaggle data

In [ ]:
reviews = pd.read_csv('/content/data/Womens Clothing E-Commerce Reviews.csv')
reviews.head()

# Exercise - 15 minutes
- Upload the Health-News-Tweets.zip file to your NLP_data folder
- Inside NLP_data create a new folder named health_tweets
- From within this notebook, unzip Health-News-Tweets into health_tweets

# Save this notebook to Google Drive

The notebook will be placed in a folder named Colab Notebooks